body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  margin-left: 350px;
}
section {
  height: 100%;
  width: 100%;
  position: absolute;
  background: radial-gradient(#333, #000);
}
.leaf {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.leaf div {
  position: absolute;
  display: block;
}
.leaf div:nth-child(1) {
  left: 20%;
  animation: fall 15s linear infinite;
  animation-delay: -2s;
}
.leaf div:nth-child(2) {
  left: 70%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}
.leaf div:nth-child(3) {
  left: 10%;
  animation: fall 20s linear infinite;
  animation-delay: -7s;
}
.leaf div:nth-child(4) {
  left: 50%;
  animation: fall 18s linear infinite;
  animation-delay: -5s;
}
.leaf div:nth-child(5) {
  left: 85%;
  animation: fall 14s linear infinite;
  animation-delay: -5s;
}
.leaf div:nth-child(6) {
  left: 15%;
  animation: fall 16s linear infinite;
  animation-delay: -10s;
}
.leaf div:nth-child(7) {
  left: 90%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}

@keyframes fall {
  0% {
    opacity: 1;
    top: -10%;
    transform: translateX (20px) rotate(0deg);
  }
  20% {
    opacity: 0.8;
    transform: translateX (-20px) rotate(45deg);
  }
  40% {
    transform: translateX (-20px) rotate(90deg);
  }
  60% {
    transform: translateX (-20px) rotate(135deg);
  }
  80% {
    transform: translateX (-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX (-20px) rotate(225deg);
  }
}
.leaf1 {
  transform: rotateX(180deg);
}
h2 {
  position: absolute;
  top: 40%;
  width: 100%;
  font-family: 'Courgette', cursive;
  font-size: 4em;
  text-align: center;
  transform: translate;
  color: #fff;
  transform: translateY (-50%);
}
/*.container {
  background: black;
  background-size: 50%;
  background-repeat: no-repeat;
  height: 90vh;
  border: 2px dotted red;
  box-shadow: 20px 20px -30px red, -20px -20px 30px green;
}*/

#all {
  float: initial;
  width: 100%;
}

#header {
  text-align: center;
  color: rgb(45, 67, 90);
  background-color: coral;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box {
  background-color: blanchedalmond;
  height: 356px;
  width: 350px;
  border-radius: 10px;
  box-shadow: rgb(23, 23, 100) 0px 7px 29px 0px;
  position: relative;
  top: 80px;
  left: 30px;
  right: 40px;
  margin-top: 0px;
  position: center;
}

#d {
  background-color: rgba(116, 107, 97, 0.692);
  margin-top: 1px;
  margin-right: 10px;
  text-align: right;
  width: 98%;
  height: 50px;
  font-size: 3em;
}

.display {
  width: 100%;
}

.display input {
  position: relative;
  left: 2px;
  top: 2px;
  height: 34px;
  font-size: 18px;
  text-align: center;
}

.keys {
  position: relative;
  top: -5px;
}

.button1 {
  width: 82px;
  height: 5px;
  border: none;
  background-color: pink;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: -8px;
}

.button2 {
  width: 82px;
  background-color: crimson;
}

.button3 {
  width: 82px;
  background-color: yellow;
  border-radius: 10px;
}

#copy {
  margin-top: -10px;
  text-align: right;
  margin-right: 70px;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 760px) {
  body {
    margin-top: 40px;
    margin-left: 50px;
  }
  h2 {
    top: auto;
  }
  #d {
    width: 100%;
  }
}
